.project-header {
    display: flex;
    background-image: url("../assets/leaf-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.header-icon {
    width: 300px;
    margin: 20px;
}

.project-header-right {
    font-size: 50px;
    padding: 40px 20px 20px 20px;
}

.project-sub-header {
    font-size: 36px;
}

.project-overview {
    text-align: center;
    padding: 30px 150px 30px 150px;
}

.overview-content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.overview-header {
    font-size: 36px;
    padding: 0px 0px 20px 0px;
}

.details-header {
    text-align: center;
    font-size: 50px;
    padding: 20px;
    background-image: url("../assets/leaf-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 50px;
}

.details-section {
    display: flex;
    margin-bottom: 20px;
}

.details-section-2 {
    display: flex;
    margin-bottom: 20px;
}

.details-section-left {
    height: auto;
    margin: 0px 20px 20px 20px;
    justify-content: center;
    font-size: 36px;
    align-items: center;
    padding: 5px;
}

.details-section-left-2 {
    margin: 0px 20px 20px 0px;
    font-size: 18px;
    width: 2000px;
    align-self: center;
    padding-top: 20px;
    padding-left: 20px;
}

.image-container {
    display: flex;
    transition: transform 0.5s, opacity 0.5s;
    transform: translateX(-200px);
    opacity: 0;
}

.image-container.active {
    transform: translateX(0);
    opacity: 1;
}

.image-with-caption {
    font-size: 24px;
    text-align: center;
}

.capstone-image {
    width: 300px;
    padding: 20px;
    margin-right: 10px;
    border-radius: 10%;
    border: black;
    box-shadow: 10px 10px 5px grey;
}

.details-section-right {
    margin: 0px 20px 20px 0px;
    font-size: 18px;
    width: 2000px;
    align-self: center;
    padding-top: 20px;
}

.details-section-right-2 {
    height: auto;
    margin: 0px 20px 20px 0px;
    justify-content: center;
    font-size: 36px;
    align-items: center;
    padding: 5px;
    text-align: right;
}

.project-link {
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    color: white;
    background-image: url("../assets/leaf-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: white;
}

.image-row {
    display: flex;
    justify-content: space-evenly;
    transition: transform 0.5s, opacity 0.5s;
    transform: translateY(200px) scaleX(3);
    opacity: 0;
}

.image-row.active {
    transform: translateX(0);
    opacity: 1;
}

.screenshot {
    width: 300px;
    margin: 30px;
    border-radius: 10%;
    box-shadow: 10px 10px 5px grey;
}

.chiplay-banner {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.chiplay-right {
    font-size: 20px;
    margin: 20px;
}

.chiplay {
    height: 100px;
}

.course-details-section {
    display: flex;
}

.course-details-header {
    text-align: center;
    padding: 50px 10px 0px 10px;
    font-size: 24px;
    background-color: #6AAA78;
    height: 90px;
    width: 200px;
    color: white;
    margin: 10px;
    border-radius: 10%;
}

.course-details {
    height: auto;
    width: 300px;
    font-size: 18px;
}

.course-details-section {
    transition: transform 0.5s, opacity 0.5s;
    transform: translateX(-200px);
    opacity: 0;
}

.course-details-section.active {
    transform: translateX(0);
    opacity: 1;
}

.arrow {
    width: 150px;
    margin-left: 20px;
}

#assessment {
    margin-left: 150px;
}

#instruction {
    margin-left: 300px;
}

#evaluation {
    margin-left: 450px;
}

.metrics-graphs {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}
