.project-header {
    display: flex;
    background-image: url("../assets/leaf-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.header-icon {
    width: 300px;
    margin: 20px;
}

.project-header-right {
    font-size: 50px;
    padding: 40px 20px 20px 20px;
}

.project-sub-header {
    font-size: 36px;
}

.project-overview {
    text-align: center;
    padding: 30px;
}

.overview-header {
    font-size: 36px;
    padding: 0px 0px 20px 0px;
}

.details-header {
    text-align: center;
    font-size: 50px;
    padding: 20px;
    background-image: url("../assets/leaf-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 50px;
}

.details-section {
    display: flex;
    margin-bottom: 20px;
}

.details-section-left {
    height: auto;
    margin: 0px 20px 20px 20px;
    justify-content: center;
    font-size: 36px;
    align-items: center;
    padding: 5px;
    text-align: center;
}

.image-container {
    display: flex;
}

.capstone-image {
    width: 400px;
    padding: 20px;
    border-radius: 10%;
}

.details-section-right {
    margin: 0px 20px 20px 0px;
    font-size: 18px;
    width: 2000px;
    align-self: center;
}

.project-link {
    font-size: 28px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    color: white;
    background-image: url("../assets/leaf-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: white;
}

.image-row {
    display: flex;
    justify-content: space-evenly;
}

.screenshot {
    width: 300px;
    margin: 30px;
    border-radius: 10%;
}

.chiplay-banner {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.chiplay-right {
    font-size: 24px;
    margin: 20px;
}

.chiplay {
    height: 100px;
}

