.homepage-banner {
    background-image: url("../assets/leaf-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 56px;
    color: white;
    padding: 200px 50px 50px 50px;
    height: auto;
}

.homepage-banner-text.active {
    animation: typeIn 2s steps(28) forwards;
}

#content-header {
    font-size: 36px;
    margin-bottom: 10px;
}

#about-me {
    display: flex;
    margin: 50px;
}

#about-me-headshot {
    width: 400px;
    height: 400px;
}

#about-me-right {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#about-me-content {
    padding: 0px 10px 10px 10px;
    font-size: 24px;
}

#bottom-banner {
    background-image: url("../assets/leaf-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    color: white;
    font-size: 36px;
    text-align: center;
    padding-top: 50px;
}