.menu {
    background: white;
    display: flex;
}

#menu-right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.menu-item {
    margin: 30px;
}

.menu-item:hover {
    text-decoration: underline black 3px;
}

.menu-link {
    color: black;
    font-size: 24px;
}

a.menu-link:link {
    text-decoration: none;
}

#home-button {
    margin: 30px;
}

#home-button:hover {
    text-decoration: underline black 3px;
}

#current-page {
    text-decoration: underline black 3px;
}