body {
    background-image: url("../assets/leaf-background.webp");
}

.resume-section {
    background: white;
    margin: 50px;
    padding: 10px;
}

.resume-section-header {
    font-size: 36px;
    text-align: center;
    margin: 10px;
}