.resume-section {
    background: white;
    padding: 10px;
}

.resume-section-header {
    font-size: 40px;
    text-align: center;
    background-image: url("../assets/leaf-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100px;
    width: auto;
    padding-top: 50px;
}

.education-content {
    text-align: center;
    margin: 50px;
    font-size: 20px;
}

.work-experience-content {
    margin: 20px 100px 20px 100px;
    font-size: 20px;
}

.work-experience-title {
    font-size: 30px;
    margin-bottom: 5px;
}

.work-description {
    margin-top: 5px;
}

.publication-content {
    font-size: 20px;
}

.publication {
    margin: 20px 100px 20px 100px;
}

.honors-content {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.honors-content-right {
    width: 400px;
}

.honors-content-left {
    width: 400px;
    padding-top: 20px;
}

.honor-name {
    text-align: center;
    font-size: 30px;
    margin: 20px 0px 20px 0px;
}

.honor-description {
    text-align: center;
}

.courses-content {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.school {
    font-size: 30px;
    text-align: center;
}

.courses-section {
    margin: 20px;
}

#myChart {
    margin: 50px;
    width: 100%;
}